*{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
html{
    background-color:#EEF9BF;
}
.container-superior{
    text-align: center;
}
.container-superior h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}
.cards{
    display: flex;
    flex-direction: column; /* exibir imagens em uma única coluna no mobile */
    flex-wrap: wrap; /* permitir que as imagens quebrem para uma nova linha */
  }
  
  @media screen and (min-width: 768px) {
    .image-container {
      flex-direction: row; /* exibir imagens em duas linhas no desktop */
    }
  }

table {
border-collapse: collapse;
margin: auto;
}

td {
	border: 2px solid black;
	width: 100px;
	height: 100px;
	text-align: center;
}

img {
	width: 100px;
	height: 100px;
}

.hidden {
	opacity: 0;
	transition: opacity 0.5s;
}

.visible {
	opacity: 1;
	transition: opacity 0.5s;
}