*{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    user-select:none;
}
html{
    background-color:#EEF9BF;
}
.container-superior{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
#btn-restart{
    opacity: 0;
    position: fixed;
    top: 6em;
    left: 1%;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 8px;
}
#btn-restart:hover{
    cursor: pointer;
    background-color: aqua;
    transition: 0.5ms;
}
.container-superior h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.004em;
    color: #75B79E;
}
.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    width: 60%;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em
}
.card {
    border-radius: 5px;
	width: 117px;
	height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A7E9AF;
    box-sizing: border-box;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.card.flipped {
    transform: rotateY(180deg);
}
  
img {
	width: 100px;
	height: 100px;
}

.hidden{
	opacity: 0;
	transition: opacity 0.5s;
}

.visible{
	opacity: 1;
	transition: opacity 0.5s;
}

@media screen and (min-width: 768px) {
    .container-superior h1{
        font-size: 56px;
        line-height: 66px;
        letter-spacing: -0.004em;
    }
    .container-superior{
        margin-bottom: 2.5em;
    }
    .table{
        width: 80%;
    }
  }

/* @media (max-width:768px){
    .table2, .titulo2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .table1, .titulo1{
        display: none;
    }
} */