table {
	border-collapse: collapse;
	margin: auto;
}

td {
	border: 2px solid black;
	width: 100px;
	height: 100px;
	text-align: center;
}

img {
	width: 100px;
	height: 100px;
}

.hidden {
	opacity: 0;
	transition: opacity 0.5s;
}

.visible {
	opacity: 1;
	transition: opacity 0.5s;
}
